 <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 border-top py-3 fixed-bottom" style="border-color: rgba(256, 256, 256, .1) !important;margin-top:50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center text-md-center mb-3 mb-md-0">
                    <p >Copyright &copy; <a class="text-white" href="#">Banking</a>. All Rights Reserved.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- Footer End -->
